<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/css/searchbar.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
<nav>
    <div class="nav-container">
        <div class="logo-container">
            <img class="logo" src="/static/img/POSTIFY.png" alt="logo">
            <img class="text" src="/static/img/TEXT LOGO.PNG" alt="logo">
        </div>
        <div class="nav-links">
            <a href="/">
                <i class="fas fa-home"></i>
                Home
            </a>
            <a href="/homePage">
                <i class="fas fa-music"></i>
                Artists
            </a>
            <a href="/about">
                <i class="fas fa-circle-info"></i>
                About
            </a>
        </div>
        <form action="/search" method="GET">
            <div class="search">
                <i class="fas fa-magnifying-glass search-icon"></i>
                <input class="search-input" type="search" name="query" placeholder="search" oninput="showSuggestions(this.value)">
                <button type="submit" class="filter-button">
                    <i class="fas fa-filter"></i>
                </button>
                <div class="suggestions" id="suggestions"></div>
            </div>
        </form>
    </div>
</nav>
<div class="about-container">
    <h2>Qu'est-ce POSTIFY ?</h2>
    <h3>POSTIFY est un site internet qui réfère un nombre limité d'artiste.</h3>
    <h3>Ce site vas pouvoir vous montrer le nom de chaque artiste dans chaque groupe.</h3>
    <h3>Mais pas que, vous pourrez voir ou chaque artistes se sont produits et quand. Cela grâce a une maps interactive</h3>
    <h4>Réalisé par : Raphael BONNET, Nathan FERRE & Tom</h4>
</div>
    <script>
        function showSuggestions(query) {
            let suggestionsDiv = document.getElementById('suggestions');
            if (query.length < 1) {
                suggestionsDiv.innerHTML = '';
                return;
            }

            fetch('/suggestions?query=' + encodeURIComponent(query))
                .then(response => response.text())
                .then(html => {
                    suggestionsDiv.innerHTML = html;
                });
        }
    </script>
</body>
