<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>

<body>
    <h1> About </h1>

    <table>
        <thead>
        <tr>
            <th><a href="http://localhost:8080">Acceuil</a></th>
            <th><a href="http://localhost:8080/homePage">Artists</a></th>
            <th><a href="http://localhost:8080/about">About</a></th>
            <th><a href="http://localhost:8080/search">Search</a></th>
        </tr>
        </thead>
    </table>

    <h2> Qu'est-ce POSTIFY ?</h2>
    <h3>POSTIFY est un site internet qui réfère un nombre limité d'artiste .</h3>
    <h3>Ce site vas pouvoir vous montrer le nom de chaque artiste dans chaque groupe .</h3>
    <h3>Mais pas que , vous pourrez voir ou chaque artistes se sont produits et quand. Cela grâce a une maps interactive </h3>
    <h4> Réalisé par : Raphael BONNET , Nathan FERRE & Tom </h4>
    <h3></h3>

</body>
