<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Artist.Name}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/artistPage.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.9.4/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.4/mapbox-gl.js"></script>
</head>
<body>
<div class="container">
    <h1>{{.Artist.Name}}</h1>

    <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" class="artist-image">

    <h2 class="section-title">Band Members</h2>
    <ul>
        {{range .Artist.Members}}
            <li>{{.}}</li>
        {{end}}
    </ul>

    <h2 class="section-title">Info</h2>
    <div class="info-section">
        <p><strong>First Album:</strong> {{.Artist.FirstAlbum | formatDate}}</p>
        <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
    </div>

    <h2 class="section-title">Tour Date and Locations</h2>
    <ul class="tour-dates">
        {{range $location, $dates := .Relations.DatesLocations}}
            <li>
                <div class="location">{{ $location | formatLocation }}</div>
                <ul class="dates">
                    {{range $dates}}
                        <li>{{. | removeAsterisks | formatDate}}</li>
                    {{end}}
                </ul>
            </li>
        {{end}}
    </ul>
</div>
<div class="location-container">

    <input type="checkbox" id="map-toggle" class="map-toggle-checkbox">


    <label for="map-toggle" class="toggle-map-btn">Afficher la carte</label>

    <div id="mapSection" class="map-section hidden">
        <div id="map">
            <script>
                let locations = {{ .Locations.Locations }}
            </script>
            <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.2/mapbox-gl.js"></script>
            <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
            <script src="/static/js/map.js"></script>
        </div>
    </div>
</div>
</body>
</html>