    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{.Artist.Name}}</title>
        <link rel="stylesheet" href="/static/css/artistPage.css">

        <link href="https://api.mapbox.com/mapbox-gl-js/v3.9.4/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.4/mapbox-gl.js"></script>

    </head>
    <body>
    <h1>{{.Artist.Name}}</h1>
    <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" style="width:20%;height:auto;">
    <p><strong>Members:</strong></p>
    <ul>
        {{range .Artist.Members}}
            <li>{{.}}</li>
        {{end}}
    </ul>
    <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>
    <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>

    <p><strong>Locations:</strong></p>
    <ul>
        {{range .Locations.Locations}}
            <li>{{.}}</li>
        {{end}}
    </ul>

    <p><strong>Dates:</strong></p>
    <ul>
        {{range .Dates.Dates}}
            <li>{{. | removeAsterisks}}</li>
        {{end}}
    </ul>



    <div id="map"></div>

    <script>
        let locations = {{ .Locations.Locations }}


    </script>


    </body>
    </html>..
    pk.eyJ1IjoibGVyYXBob3UiLCJhIjoiY202a3R2MXNzMDFlYjJrcjV1NTh4N2l2ayJ9.x0B8KMcr28PJjV03zuK5Iw