<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter</title>
    <link rel="stylesheet" href="/static/css/filter.css">
</head>
<body>
<h1>Filter Page</h1>
<form method="GET" action="/filter">
    <input type="text" name="search" placeholder="Search for an artist...">
    <input type="number" name="creation_date" placeholder="Creation" min="1900" max="2100">
    <input type="date" name="first_album_date" placeholder="First Album Year" min="1900" max="2100">
    <div>
        <label>Number of Members:</label>
        <div>
            <input type="checkbox" name="members" value="1"> 1
            <input type="checkbox" name="members" value="2"> 2
            <input type="checkbox" name="members" value="3"> 3
            <input type="checkbox" name="members" value="4"> 4
            <input type="checkbox" name="members" value="5"> 5
            <input type="checkbox" name="members" value="6"> 6
            <input type="checkbox" name="members" value="7"> 7
        </div>
    </div>
    <input type="text" name="location" placeholder="Location of Concerts">
    <button type="submit">Search</button>
</form>
<div id="results">
    {{range .Artists}}
        <div class="artist">
            <h2>{{.Name}}</h2>
        </div>
    {{end}}
</div>
</body>
</html>
