<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POSTIFY</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/searchbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<nav>
    <div class="nav-container">
        <div class="logo-container">
            <img class="logo" src="/static/img/POSTIFY.png" alt="logo">
            <img class="text" src="/static/img/TEXT LOGO.PNG" alt="logo">
        </div>
        <div class="nav-links">
            <a href="/">
                <i class="fas fa-home"></i>
                Home
            </a>
            <a href="/homePage">
                <i class="fas fa-music"></i>
                Artists
            </a>
            <a href="/about">
                <i class="fas fa-circle-info"></i>
                About
            </a>
        </div>
        <form action="/search" method="GET">
            <div class="search">
                <i class="fas fa-magnifying-glass search-icon"></i>
                <input class="search-input" type="search" name="query" placeholder="search" oninput="showSuggestions(this.value)">
                <button type="submit" class="filter-button">
                    <i class="fas fa-filter"></i>
                </button>
                <div class="suggestions" id="suggestions"></div>
            </div>
        </form>
    </div>
</nav>
<ul>
    {{range .Artists}}
        <li>
            <a href="/artist/{{.ID}}">
                <img src="{{.Image}}" alt="Artist cover">
                <div class="artist-info">
                    <h3>{{.Name}}</h3>
                </div>
            </a>
        </li>
    {{end}}
</ul>
<script>
    function showSuggestions(query) {
        let suggestionsDiv = document.getElementById('suggestions');
        if (query.length < 1) {
            suggestionsDiv.innerHTML = '';
            return;
        }

        fetch('/suggestions?query=' + encodeURIComponent(query))
            .then(response => response.text())
            .then(html => {
                suggestionsDiv.innerHTML = html;
            });
    }
</script>
</body>
</html>