<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POSTIFY</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<img  class="text" src="/static/img/TEXT LOGO.PNG" alt="logo" >
<img  class="logo" src="/static/img/POSTIFY.png" alt="logo" >

<form>
    <div class="search">
        <span class="material-symbols-outlined"> search </span>
        <input class="search-input" type="search" placeholder="search">
    </div>
</form>

<table>
    <thead>
    <tr>
        <th><a href="/">Accueil</a></th>
        <th><a href="/homePage">Artists</a></th>
        <th><a href="/about">About</a></th>
        <th><a href="/search">Search</a></th>
    </tr>
    </thead>
</table>
<ul>
    {{range .Artists}}
        <li>
            <a href="/artist/{{.ID}}">
                <img src="{{.Image}}" alt="Artist cover">
                <div class="artist-info">
                    <h3>{{.Name}}</h3>
                </div>
            </a>
        </li>
    {{end}}
</ul>
</body>
</html>